*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 0.87rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.productCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    margin: 8% auto;
    overflow: hidden;
}

.text {
    width: 85%;
    margin: 8% auto;
}

.prodType {
    color: hsl(228, 12%, 48%);
    letter-spacing: .3rem;
    font-size: .8rem;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1;
    margin: .8rem 0;
}

.description {
    color: hsl(228, 12%, 48%);
    margin-bottom: 1rem;
}

.price {
    display: flex;
    align-items: center;
}

.discountPrice {
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin-right: 1.5rem;
}

.origPrice {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

button {
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: 0 solid transparent;
    width: 100%;
    border-radius: .5rem;
    padding: 1rem 0;
    margin-top: 1rem;
}

button:hover {
    background-color: hsl(158, 42%, 18%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 450px) {
    .productCard {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 28rem;
    }

    picture {
        min-width: 50%;
        display: flex;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .text {
        margin: 8%;
    }
}

@media (min-width: 650px) {
    .productCard {
        width: 650px;
    }
}